{
  "env": {
    "development": {
      "presets": [
        "env",
        "stage-3"
      ]
    },
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}